<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/reset.css">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/cadastroUser.css">
        <link rel="shortcut icon" href="img/favicon_contabia.png" type="image/x-icon">
        <script src="js/cadastroUser.js" defer></script>
        <title>ContabIA - cadastro</title>
    </head>
    <body>

        <header>
            <nav>
                <img src="/img/logo.png" alt="logo" class="logo">
            </nav>
        </header>

        <main>

            <div id="erro" style="display: none;"><span id="erroText"></span></div>

            <section class="login" id="login">

                <h1>Criar Conta</h1>

                <form th:action="@{/cadastro}" method="post" th:object="${dadosUser}"class="form" id="form">
                    <input th:field="*{cnpj}" type="text" name="cnpj" placeholder="CNPJ" minlength="14" maxlength="14" class="inputs user" id="cnpjCad" required>

                    <input th:field="*{senha}" type="password" name="senha" placeholder="Senha" minlength="6" class="inputs senha" id="senhaCad" required>

                    <input th:field="*{email}" type="email" name="email" placeholder="E-mail" class="inputs email" id="emailCad" required>

                    <input th:field="*{userSefaz}" type="text" name="userSefaz" placeholder="Usuário Sefaz" class="inputs user" id="sefazCad" required>

                    <input th:field="*{senhaSefaz}" type="password" name="senhaSefaz" placeholder="Senha Sefaz" class="inputs senha" id="senhaSefazCad" required>
                    
                    <button type="submit" id="button">Entrar</button>
                </form>

                <a th:href="@{/login}">Já tenho uma conta</a>
            </section>
        </main>

    </body>
</html>