<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/cadastroCnpj.css">
    <script src='js/main.js' defer></script>

    <title>ContabIA</title>
</head>
<body>
    <header>

        <nav th:include="~{fragments :: nav}"></nav>

    </header>
    <main>
        <div class="container">
            <div class="divPrincipal">
            
            <form th:action="@{/cadastroCnpj(cnpj=${cnpj})}" method="post" class="formCadCnpj">
                <label class="labelFormCadCnpj" for="">Cadastrar Novo CNPJ</label>

                <input type="text" placeholder="CNPJ" minlength="14" maxlength="14" class="inputCadCnpj" id="cnpjCadCnpj" name="cnpjEmpresa" required>

                <input type="text" placeholder="Nome" class="inputCadCnpj" maxlength="70" id="nomeCadCnpj" name="nome" required>

                <label class="labelFormCadCnpj" for="">Consultas</label>

                <div class="consultasCadCnpj">
                    <div class="checkboxCadCnpj">
                        <input type="checkbox" name="checkboxSefaz">
                        <label class="labelCheckbox" for=""><span class="fontBold">SEFAZ</span> - Secretaria da Fazenda</label> 
                        <select class="selectFreq" name="frequenciaSefaz" id="frequenciaSefaz">
                            <option value="1">Semanalmente</option>
                            <option value="2">Mensalmente</option>
                            <option value="3">Anualmente</option>
                        </select>  
                    </div>

                    <!-- <div class="checkboxCadCnpj">
                        <input type="checkbox" name="checkboxCnd">
                        <label class="labelCheckbox" for=""><span class="fontBold">CND</span> - Certidão Negativa de Débitos - Receita Federal</label> 
                        <select class="selectFreq" name="frequenciaCnd" id="frequenciaCnd">
                            <option value="1">Semanalmente</option>
                            <option value="2">Mensalmente</option>
                            <option value="3">Anualmente</option>
                        </select>       
                    </div> -->

                    <div style="border: none;" class="checkboxCadCnpj">
                        <input type="checkbox" name="checkboxCndt">
                        <label class="labelCheckbox" for=""><span class="fontBold">CNDT</span> - Certidão Negativa de Débitos Trabalhistas</label>
                        <select class="selectFreq" name="frequenciaCndt" id="frequenciaCndt">
                            <option value="1">Semanalmente</option>
                            <option value="2">Mensalmente</option>
                            <option value="3">Anualmente</option>
                        </select>
                    </div>

                </div>
                
                <button type="submit" class="btnSalvar">Salvar</button>
            </form>
                
            </div>
        </div>
    </main>

    <footer></footer>

</body>
</html>