<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalhes</title>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/detalhes.css">
        <link rel="stylesheet" href="../styles/style.css">
        <script src="../js/main.js" defer></script>
    </head>
    <body>

        <header th:insert="~{fragments :: nav}"></header>
        
        <main>
            <div class="container">
                <div class="divPrincipal divDetalhes" >
                    <H1 class="title">Detalhes <span th:text="${tipoAlt}"></span></H1>

                    <div style="margin-left: auto; margin-right: auto; ">
                        <div class="detalhes1">
                            <h2 class="title2" th:text="${'CNPJ - ' + nota.cnpjEmpresa}"></h2>
                            <h2 class="title2" th:text="${'Mês - ' + nota.data.getMonth()}"></h2>
                        </div>
                    </div>

                    <table class="detalhes">
                        <tr style="border-bottom: 1px solid black;">
                        <th>Número</th>
                        <th>Série</th>
                        <th>Data de Emissão</th>
                        <th>Emitente</th>
                        <th>Situação</th>
                        <th style="border: none;">Valor Total</th>
                        </tr>
                        <td th:text="${nota.id}"></td>
                        <td th:text="${nota.serie}"></td>
                        <td th:text="${nota.data}" id="data"></td>
                        <td th:text="${nota.nomeEmitente}"></td>
                        <td th:text="${nota.situacao}"></td>
                        <td th:text="${'R$ ' + nota.valor}" style="border: none;"></td>
                    </table>

                    <a class="btnVoltar" th:href="@{/home(cnpjUser=${cnpjUser})}">Voltar</a>
                </div>
            </div>
        </main>
    </body>
</html>