<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="styles/reset.css">
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="styles/forgotPasswordStyle.css">
        <link rel="shortcut icon" href="logo-aba-copy.ico" type="image/x-icon">
        <script src="js/main.js" defer></script>

        <title>ContabIA - redefinição de senha</title>
    </head>
    <body>

        <header>
            <nav>
                <img src="img/logo.png" alt="logo" class="logo">
            </nav>
        </header>

        <main>
            <div id="erro" style="display: none;"><span id="erroText"></span></div>

            <div class="forgot_password" id="forgot_password">
                
                <h1>Esqueci minha senha...</h1>
                <form th:action="@{/redefinirSenha}" method="post" class="form" id="form">
                    <label id="label_email" for="userEmail">Digite seu e-mail para prosseguir com a redefinição de senha:</label>
                    <input name="userEmail" id="userEmail" type="email" placeholder="email" class="inputs" required>
                    <button type="submit" id="button">Enviar e-mail</button>
                </form>
                <a th:href="@{/login}">Retornar para a página de login</a>
                
            </div>
        </main>

    </body>
</html>