<nav th:fragment="nav">
    <a th:href="@{/home(cnpjUser=${cnpjUser})}"><img src="../img/logo.png" alt="logo" class="logo"></a>

    <a th:href="@{/home(cnpjUser=${cnpjUser})}" class="button-nav">Home</a>
    
    <a th:href="@{/listaCnpj(cnpjUser=${cnpjUser})}" class="button-nav">CNPJ's</a>

    <div class="caixa-user">

        <label th:text="${cnpjUser}" id="user"></label>
        <img src="../img/user-Icon.png" alt="userIcon" id="userIcon">

    </div>
</nav>

<div th:fragment="alteracao" class="divAlt">
    <span class="nomeAlt" th:text="${infos.texto}"></span>
    <a class="detalhesLink" th:href="@{${'detalhes/' + infos.tipoAlt}(cnpjUser=${cnpjUser}, cnpjEmpresa=${infos.cnpjEmpresa}, idAlt=${infos.altId})}">Ver detalhes</a>
</div>

<div th:fragment="cnpj(infos)" class="divCnpj">
    <span th:text="${infos.nome}" class="nomeDivCnpj"></span>
    <div class="opcoes">
        <a class="btnEditar" th:href="@{/editCnpj(cnpjUser=${cnpjUser}, cnpjEmpresa=${infos.cnpj})}"> Editar </a>
        <button type="reset" th:attr="onclick=|delEmpresa('${infos.cnpj}', '${cnpjUser}')|" class="btnTrash"><img class="imgTrash" src="img/trash.png" alt="imagem deletar"></button>
    </div>
</div>

<table th:fragment="tabelaDetalhes" class="detalhes">
    <tr style="border-bottom: 1px solid black;">
        <th>Número</th>
        <th>Série</th>
        <th>Data de Emissão</th>
        <th>Emitente</th>
        <th>Situação</th>
        <th style="border: none;">Valor Total</th>
        </tr>
        <td th:text="${nota.id}"></td>
        <td th:text="${nota.serie}"></td>
        <td th:text="${nota.data}" id="data"></td>
        <td th:text="${nota.nomeEmitente}"></td>
        <td th:text="${nota.situacao}"></td>
        <td th:text="${'R$ ' + nota.valor}" style="border: none;"></td>
</table>