
<!--
    Este arquivo é destinado para o armazenamento dos fragments que serão utilizados pelo thymeleaf nas páginas da aplicação
-->

<!--Fragment que contém o cabeçalho do site-->
<nav th:fragment="nav">
    <a th:href="@{/home(cnpjUser=${cnpjUser})}"><img src="../img/logo.png" alt="logo" class="logo"></a>

    <a th:href="@{/home(cnpjUser=${cnpjUser})}" class="button-nav">Home</a>
    
    <a th:href="@{/listaCnpj(cnpjUser=${cnpjUser})}" class="button-nav">CNPJ's</a>

   
    <div class="caixa-user">

        <label th:text="${cnpjUser}" id="user"></label>
        <a class='linkUser'><img src="../img/user-Icon.png" alt="userIcon" id="userIcon"></a>
        
        <div class='lista-config'>
            <ul class='lista'>
                <a th:href="@{/editUser(cnpjUser=${cnpjUser})}" class='button-li'><li class='elementos-li'><strong>Editar Perfil</strong></li><a/>
                <a th:href="@{/}" class='button-li'><li class='elementos-li'><strong>Sair</strong></li></a>
            </ul>
        </div>
    </div>
    
</nav>

<!--Fragment que contém a div que exibe o nome da alteração e o link para ver os detalhes-->
<div th:fragment="alteracao" class="divAlt">
    <span class="nomeAlt" th:text="${infos.texto}"></span>
    <a class="detalhesLink" th:href="@{${'detalhes/' + infos.tipoAlt}(cnpjUser=${cnpjUser}, cnpjEmpresa=${infos.cnpjEmpresa}, idAlt=${infos.altId})}">Ver detalhes</a>
</div>

<!--Fragment que contém a div que exibe o nome/CNPJ da empresa, e fornece a opção de deleta-la e edita-la-->
<div th:fragment="cnpj(infos)" class="divCnpj">
    <span th:text="${infos.nome}" class="nomeDivCnpj"></span>
    <div class="opcoes">
        <a class="btnEditar" th:href="@{/editCnpj(cnpjUser=${cnpjUser}, cnpjEmpresa=${infos.cnpj})}"> Editar </a>
        <button type="reset" th:attr="onclick=|delEmpresa('${infos.cnpj}', '${cnpjUser}')|" class="btnTrash"><img class="imgTrash" src="img/trash.png" alt="imagem deletar"></button>
    </div>
</div>

<!--Fragment que contém a tabela que exibe os detalhes de uma alteração Sefaz-->
<table th:fragment="tabelaDetalhes" class="detalhes">
    <tr style="border-bottom: 1px solid black;">
        <th>Número</th>
        <th>Série</th>
        <th>Data de Emissão</th>
        <th>Emitente</th>
        <th>Situação</th>
        <th style="border: none;">Valor Total</th>
        </tr>
        <td th:text="${nota.id}"></td>
        <td th:text="${nota.serie}"></td>
        <td th:text="${nota.data}" id="data"></td>
        <td th:text="${nota.nomeEmitente}"></td>
        <td th:text="${nota.situacao}"></td>
        <td th:text="${nota.valor}" style="border: none;"></td>
</table>