<nav th:fragment="nav">
    <a th:href="@{/home(cnpj=${cnpj})}"><img src="img/logo.png" alt="logo" class="logo"></a>

    <a th:href="@{/home(cnpj=${cnpj})}" class="button-nav">Home</a>
    
    <a th:href="@{/listaCnpj(cnpj=${cnpj})}" class="button-nav">CNPJ's</a>

    <div class="caixa-user">

        <label th:text="${cnpj}" id="user"></label>
        <img src="img/user-Icon.png" alt="userIcon" id="userIcon">

    </div>
</nav>

<div th:fragment="alteracao" class="divAlt">
    <span th:text="${nome}" class="nomeAlt"></span>
    <a class="detalhesLink" th:href="@{/detalhes}">Ver detalhes</a>
</div>


<div th:fragment="cnpj(infos)" class="divCnpj">
    <span th:text="${infos.nome}" class="nomeDivCnpj"></span>
    <div class="opcoes">
        <a class="btnEditar" th:href="@{/editCnpj(cnpj=${cnpj}, cnpjEmpresa=${infos.cnpj})}"> Editar </a>
        <button type="reset" th:attr="onclick=|delEmpresa('${infos.cnpj}', '${cnpj}')|" class="btnTrash"><img class="imgTrash" src="img/trash.png" alt="imagem deletar"></button>
    </div>
</div>