<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="styles/reset.css">
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="styles/home.css">
        <script src="js/main.js" defer></script>

        <title>ContabIA</title>
    </head>

    <body>

        <header>
            <nav>
                <a th:href="@{/home}"><img src="img/logo.png" alt="logo" class="logo"></a>

                <a th:href="@{/home}" class="button-nav">Home</a>
                
                <a href="listaCnpj.html" class="button-nav">CNPJ's</a>

                <div class="caixa-user">

                    <label th:text="${cnpj}" id="user"></label>
                    <img src="img/user-Icon.png" alt="userIcon" id="userIcon">

                </div>
            </nav>
        </header>

        <main>
            <div class="container">
                <div class="divPrincipal">
                    <h1 class="title">Alterações Detectadas</h1>

                    <section id="alts">
                        <div class="divAlt">
                            <span class="nomeAlt">SEFAZ - CNPJ XXXXXXXXX - Mês Maio</span>
                            <a class="detalhesLink" href="detalhes.html">Ver detalhes</a>
                        </div>
                        <div class="divAlt">
                            <span class="nomeAlt">nome da alteração</span>
                            <a class="detalhesLink" href="detalhes.html">Ver detalhes</a>
                        </div>
                        <div class="divAlt">
                            <span class="nomeAlt">nome da alteração</span>
                            <a class="detalhesLink" href="detalhes.html">Ver detalhes</a>
                        </div>
                        <div class="divAlt">
                            <span class="nomeAlt">nome da alteração</span>
                            <a class="detalhesLink" href="detalhes.html">Ver detalhes</a>
                        </div>
                        <div class="divAlt">
                            <span class="nomeAlt">nome da alteração</span>
                            <a class="detalhesLink" href="detalhes.html">Ver detalhes</a>
                        </div>
                        <div class="divAlt">
                            <span class="nomeAlt">nome da alteração</span>
                            <a class="detalhesLink" href="detalhes.html">Ver detalhes</a>
                        </div>
                    </section>

                </div>
            </div>
        </main>

        <footer></footer>


    </body>

</html>