<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/styles/reset.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/listaCnpj.css">
    <script src="../main.js" defer></script>
</head>
<body>
    
    <header>
        <nav>
            <a href="../views/home.html"><img src="../static/img/logo.png" alt="logo" class="logo"></a>

            <a href="home.html" class="button-nav">Home</a>
                
            <a href="listaCnpj.html" class="button-nav">CNPJ's</a>

            <div class="caixa-user">

                <label id="user">XX.XXX.XXX/0001-XX</label>
                <img src="../static/img/user-Icon.png" alt="userIcon" id="userIcon">

            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="divPrincipal">
                <div class="divBtnCadastrar">
                    <a class="btnCadastrar" href="cadastroCnpj.html"> Cadastrar Novo Cnpj </a>
                </div>
                <section id="cnpjs">
                    <div class="divCnpj">
                        <span class="nomeDivCnpj">XX.XXX.XXX/0001-XX - {{nome_exemplo1}}</span>
                        <div class="opcoes">
                            <a class="btnEditar" href="cadastroCnpj.html"> Editar </a>
                            <button class="btnTrash"><img class="imgTrash" src="../static/img/trash.png" alt=""></button>
                        </div>
                    </div>
                    <div class="divCnpj">
                        <span class="nomeDivCnpj">XX.XXX.XXX/0001-XX - {{nome_exemplo1}}</span>
                        <div class="opcoes">
                            <a class="btnEditar" href="cadastroCnpj.html"> Editar </a>
                            <button class="btnTrash"><img class="imgTrash" src="../static/img/trash.png" alt=""></button>
                        </div>
                    </div>
                    <div class="divCnpj">
                        <span class="nomeDivCnpj">XX.XXX.XXX/0001-XX - {{nome_exemplo1}}</span>
                        <div class="opcoes">
                            <a class="btnEditar" href="cadastroCnpj.html"> Editar </a>
                            <button class="btnTrash"><img class="imgTrash" src="../static/img/trash.png" alt=""></button>
                        </div>
                    </div>
                    <div class="divCnpj">
                        <span class="nomeDivCnpj">XX.XXX.XXX/0001-XX - {{nome_exemplo1}}</span>
                        <div class="opcoes">
                            <a class="btnEditar" href="cadastroCnpj.html"> Editar </a>
                            <button class="btnTrash"><img class="imgTrash" src="../static/img/trash.png" alt=""></button>
                        </div>
                    </div>
                    <div class="divCnpj">
                        <span class="nomeDivCnpj">XX.XXX.XXX/0001-XX - {{nome_exemplo1}}</span>
                        <div class="opcoes">
                            <a class="btnEditar" href="cadastroCnpj.html">  Editar </a>
                            <button class="btnTrash"><img class="imgTrash" src="../static/img/trash.png" alt=""></button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>

    <footer></footer>

</body>
</html>