<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/listaCnpj.css">
    <script src="js/main.js" defer></script>
</head>
<body>
    
    <header>

        <nav th:include="~{fragments :: nav}"></nav>
        
    </header>

    <main>
        <div class="container">
            <div class="divPrincipal">
                <div class="divBtnCadastrar">
                    <a class="btnCadastrar" th:href="@{/cadastroCnpj(cnpj=${cnpj})}"> Cadastrar Novo Cnpj </a>
                </div>
                <section id="cnpjs">
                    <div class="divCnpj">
                        <span class="nomeDivCnpj">XX.XXX.XXX/0001-XX - {{nome_exemplo1}}</span>
                        <div class="opcoes">
                            <a class="btnEditar" href="cadastroCnpj.html"> Editar </a>
                            <button class="btnTrash"><img class="imgTrash" src="img/trash.png" alt=""></button>
                        </div>
                    </div>
                    <div class="divCnpj">
                        <span class="nomeDivCnpj">XX.XXX.XXX/0001-XX - {{nome_exemplo1}}</span>
                        <div class="opcoes">
                            <a class="btnEditar" href="cadastroCnpj.html"> Editar </a>
                            <button class="btnTrash"><img class="imgTrash" src="img/trash.png" alt=""></button>
                        </div>
                    </div>
                    <div class="divCnpj">
                        <span class="nomeDivCnpj">XX.XXX.XXX/0001-XX - {{nome_exemplo1}}</span>
                        <div class="opcoes">
                            <a class="btnEditar" href="cadastroCnpj.html"> Editar </a>
                            <button class="btnTrash"><img class="imgTrash" src="img/trash.png" alt=""></button>
                        </div>
                    </div>
                    <div class="divCnpj">
                        <span class="nomeDivCnpj">XX.XXX.XXX/0001-XX - {{nome_exemplo1}}</span>
                        <div class="opcoes">
                            <a class="btnEditar" href="cadastroCnpj.html"> Editar </a>
                            <button class="btnTrash"><img class="imgTrash" src="img/trash.png" alt=""></button>
                        </div>
                    </div>
                    <div class="divCnpj">
                        <span class="nomeDivCnpj">XX.XXX.XXX/0001-XX - {{nome_exemplo1}}</span>
                        <div class="opcoes">
                            <a class="btnEditar" href="cadastroCnpj.html">  Editar </a>
                            <button class="btnTrash"><img class="imgTrash" src="img/trash.png" alt=""></button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>

    <footer></footer>

</body>
</html>