<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/listaCnpj.css">
    <script src="js/main.js" defer></script>
</head>
<body>
    
    <header th:insert="~{fragments :: nav}"></header>

    <main>
        <div class="container">
            <div class="divPrincipal">
                <div class="divBtnCadastrar">
                    <a class="btnCadastrar" th:href="@{/cadastroCnpj(cnpj=${cnpj})}"> Cadastrar Novo Cnpj </a>
                </div>
                <section id="cnpjs" th:each="infos : ${empresasInfos}" th:insert="~{fragments :: cnpj(infos)}">
                    
                </section>
            </div>
        </div>
    </main>

    <footer></footer>

</body>
</html>