<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="styles/reset.css">
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="styles/loginUser.css">
        <link rel="shortcut icon" href="logo-aba-copy.ico" type="image/x-icon">
        <script src="js/main.js" defer></script>
        <script src="js/login.js" defer></script>

        <title>ContabIA - login</title>
    </head>
    <body>

        <header>
            <nav>
                <img src="img/logo.png" alt="logo" class="logo">
            </nav>
        </header>

        <main>
            
            <div id="erro" class="erro"><span id="erroText"></span></div>
            <div id="changePassSucessDiv"><span id="messageChangePassSucess">Senha alterada com sucesso!</span></div>

            <section class="login" id="login">

                <h1>Login</h1>

                <form method="POST" class="form" id="form">
                    <input name="cnpj" type="text" placeholder="CNPJ" minlength="18" maxlength="18" class="inputs" id="userLogin" oninput="CnpjMask(this)" required>

                    <input name="senha" type="password" placeholder="Senha" class="inputs" id="senhaLogin" required>

                    <button type="submit" id="button">Entrar</button>
                </form>

                <div style="display: grid;">
                    <a style="margin: 10px;" th:href="@{/cadastro}">Criar uma conta</a>
                    <a style="margin: 10px;" th:href="@{/redefinirSenha}">Esqueci minha senha</a>
                </div>
            </section>
        </main>

    </body>
</html>