<!DOCTYPE html>

<html>
    <head>
        <title>buscar cnt</title>
        <meta charset="UTF-8" lang="pt-br">
        <link rel="stylesheet" href="{{css}}">
    </head>
    <body>
        <h1 class="red", id="1">teste</h1>


        <script src="{{script}}"></script>
    </body>
</html>
