<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/teste.css">
        <script src="../main.js" defer></script>

        <title>ContabIA</title>
    </head>

    <body>

        <header>
            <nav>
                <a href="../views/home.html"><img src="../img/logo.png" alt="logo" class="logo"></a>

                <a href="../views/cadastroCnpj.html" class="button-nav">CNPJ's</a>

                <a href="#" class="button-nav">Histórico de Alterações</a>

                <div class="caixa-user">

                    <label id="user">XX.XXX.XXX/0001-XX</label>
                    <img src="../img/user-Icon.png" alt="userIcon" id="userIcon">

                </div>
            </nav>
        </header>

        <main></main>

        <footer></footer>


    </body>

</html>