<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="styles/reset.css">
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="styles/loginUser.css">
        <link rel="shortcut icon" href="logo-aba-copy.ico" type="image/x-icon">
        <script src="js/main.js" defer></script>

        <title>ContabIA</title>
    </head>

    <body>

        <header>
            <nav>
                <img src="img/logo.png" alt="logo" class="logo">
            </nav>
        </header>

        <main>
            <section class="login">
                <h1>Login</h1>

                <form method="get" class="form">
                    <input type="text" placeholder="CNPJ" minlength="14" maxlength="14" class="inputs" id="userLogin" required>

                    <input type="password" placeholder="Senha" minlength="6" maxlength="6" class="inputs" id="senhaLogin" required>

                    <button id="button">Entrar</button>
                </form>

                <a th:href="@{/cadastro}">Criar uma conta</a>
            </section>
        </main>

    </body>

</html>