@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
    --fonte: "Montserrat", sans-serif;
    --cor-textos: #FFFFFF
}

/* header */
nav {
    background: #2B2551;
    font-family: var(--fonte);
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    padding: 1em 1em;
    width: 280px;
    height: 90px;
}

.button-nav {
    text-decoration: none;
    font-size: 22px;
    color: var(--cor-textos);
}

.caixa-user {
    background-color: #D9D9D9;
    width: 280px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user {
    padding-left: 2em;
}

#userIcon {
    width: 60px;
    height: 60px;
}

/* main */


/* footer */

footer{
    margin-top: 100%;
    background: aqua;
    padding: 5em 0;
}